*,
*:after,
*:before {
  box-sizing: border-box;
}

html{
	background-color:#fff;
	border:solid #000 1px;
	font-family: 'Open Sans', sans-serif;
	margin:0;
	width: 100%;
}

body{
	margin:0;
	text-align: center;
}

#logo{
	height:60px;
	left:2px;
	padding-left:.5em;
	padding:.25em;
	position:absolute;
	top:2px;
	width:60px;
}

nav{
  background-color:#75e2e6;
  border-bottom:solid #048eaa 4px;
  height: 65px;
}

.link{
	padding-top:20px;
}

.tooltip-container{
	display: inline;
	position: relative;
}

.tooltip{
	background-color: #000;
	border-radius:4px;
	color: #fff;
	left:25px;
	padding: .5em;
	position:absolute;
	text-align: center;
	top:25px;
	visibility: hidden;
	width: 100px;
}

.tooltip-container:hover
.tooltip{
	visibility: visible;
	z-index: 1;
}

nav ul{
	margin:0;
}

nav ul li{
	display: inline;
	float:right;
	list-style: none;
	padding-right: 1.5em;
}

a{
	color:#000;
	font-weight: bold;
	text-decoration: none;
}

h1{
	font-weight: normal;
	letter-spacing: .05em;
	margin:0;
	padding: 1em;
}

#park-container{
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('images/park.jpg');
	background-attachment: fixed;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 600px;
	overflow:hidden;
	width: 100%;
}

#main-dog{
	margin-bottom: 1em;
}

.dog-img{
	height: 200px;
	width: 200px;
}

label{
	padding-bottom:.2em;
}

button{
	background-color: #75e2e6;
	font-family: 'Open Sans',sans-serif;
}

.quarter-width{
	display: block;
	margin: 0 auto;
	width:30%;
}

.text-align-left{
	text-align: left;
}

.three-em-height{
	height: 4em;
}

.two-em-bottom-margin{
	margin-bottom: 2em;
}

.strong{
	font-weight: 700;
}

.semi-bold{
	font-weight: 600;
}

.white-text{
	color:#fff;
}

.rounded-image{
	border-radius:50%;
	border:solid #048eaa 4px;
}

.third-width{
	float:left;
	margin-bottom: 2em;
	padding:0 3em;
	width:33.33%;
}

.third-width button{
	background-color: #048eaa;
	border-radius: 3px;
	color:#fff;
	height: 4.5em;
	width:100%;
}

footer{
	background-color: #048eaa;
	clear:both;
	color: #fff;
	height: 150px;
}

footer p{
	padding-top:35px;
}

footer img{
	padding-right: .5em;
}

@media only screen and (max-width: 600px) {
	nav{
		height:auto;
	}

	nav ul li{
		display: block;
		float:none;
		margin: auto;
	}

	#last-link{
		margin-bottom: 1em;
	}

	.quarter-width{
		width:50%;
	}

	.third-width{
		float:none;
		width:100%;
	}
}

@media only screen and (max-width: 850px){
	.dog-img{
		height: 150px;
		width:150px;
	}
}